<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Choisir un pseudo</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="container">
    <h2>Choisis ton pseudo</h2>
    <form method="POST" action="/pseudo">
      <input id="messageInput" type="text" name="pseudo" placeholder="Ex: DarkPigeon" required />
      <br />
      <button id="sendButton" type="submit">Valider</button>
    </form>
  </div>
</body>
</html>
